@model ChangePasswordVM
<div class="col-lg-6">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Change Password</h5>
            <div>
                @if (ViewBag.Message != null)
                { 
                   <div class="alert alert-info">@ViewBag.Message</div>
                }

            </div>
            <!-- Vertical Form -->
            <form class="row g-3" asp-action="ChangePassword" method="Post">
                <div class="col-12">
                    <label class="form-label">Old Password</label>
                    <input asp-for="OldPassword"  class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label class="form-label">New Password</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update</button>
                    
                </div>
            </form><!-- Vertical Form -->

        </div>
    </div>


</div>